# ------------------------------------------------------
# Composer
# ------------------------------------------------------
/vendor
composer.lock

# ------------------------------------------------------
# PHPUnit
# ------------------------------------------------------
.phpunit.result.cache
coverage/
testbench/

# ------------------------------------------------------
# PHPStorm / JetBrains
# ------------------------------------------------------
.idea/
*.iml

# ------------------------------------------------------
# Node / front (por si algún día añades assets al plugin)
# ------------------------------------------------------
/node_modules
npm-debug.log
yarn-error.log

# ------------------------------------------------------
# Laravel typical cache (por si testbench crea alguno)
# ------------------------------------------------------
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*

# ------------------------------------------------------
# Misc
# ------------------------------------------------------
.DS_Store
Thumbs.db
/.idea
